
.indivisual-tx{
  padding: 20px;
  .tx-detail-container{
    .tx-detail-table{
      .table-row{
        border-top: 1px dotted #dedede;
        display: grid;
        grid-template-columns: 1fr 5fr;
        li{
          padding: 10px 0;
          list-style-type: none;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          .progress{
            margin: 0;
            max-width: 400px;
          }

        }
        li:nth-child(2){
          font-family: monospace;
          font-size: 12px;
        }
      }      
    }
  }
}


@media screen and (max-width: 999px){


  .indivisual-tx{
    .tx-detail-container{
      .tx-detail-table{
        .table-row{
          grid-template-columns: 1fr 2fr;
          li{
            padding: 5px 0;
            list-style-type: none;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
            line-height: initial;
          }
          li:nth-child(2){
            
            font-size: 10px;
            
          }
        }      
      }
    }
  }


}



