a {
  margin: 0;
  padding: 0;
  line-height: initial;
}

.grid-table-container {
  .grid-block {
    padding: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 70px calc(100% - 270px) 80px 80px;
    grid-gap: 20px;
    border-bottom: 1px solid rgba(152, 152, 152, 0.2);
  }
}

.table-header {
  background-color: #8391a8;
  color: white;
  font-weight: 600;
}

.table-body {
  max-height: 500px;
  overflow-y: auto;
}

.flax-row {
  display: flex;
  align-items: center;
}

.hash {
  margin-bottom: 5px;
}

.miner {}

.uncle-block {
  width: 100%;
}

.transactions {
  p {
    line-height: 17px;
  }

  .tx-failed {
    font-size: 10px;
    font-weight: 400;
    border: 1px solid black;
    display: inline-block;
    padding: 0px 3px;
    line-height: 15px;
  }
}

.uncle-block {
  margin-top: 10px;
  position: relative;
  border: 1px solid #8391a8;
  padding: 5px 10px;

  //display: inline-block;
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: -69px;
    height: 17px;
    width: 69px;
    border-bottom: 1px solid #8391a8;
    border-left: 1px solid #8391a8;
    border-radius: 0 0 0 2px;
  }
}

.value-name {
  color: #8391a8;
  min-width: 45px;
}
