# OSX
.DS_Store

# Other
database*
logs
state

# Package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
package-lock.json

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Project
dist/
tmp/
datasets/
out/

# Gradle
.gradle
env_*.sh

# VS Code
.vscode
*.code-workspace

# Docker
docker/templer/stacks
docker/templer/vars/dev-mainnet.custom.yaml
docker/templer/vars/dev-ropsten.custom.yaml
docker/templer/vars/dev-private.custom.yaml
docker/templer/vars/simple.custom.yaml

.env
docker-compose.yaml
