processor-state


# OSX
.DS_Store

# Other
database*
logs
state

# Package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
package-lock.json
.pnpm-debug.log

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Project
dist/
tmp/
datasets/
out/

# Gradle
.gradle
env_*.sh

# VS Code
.vscode
*.code-workspace

# Docker
docker/templer/stacks
docker/templer/vars/*.custom.yaml

.env
docker-compose.yaml

# Terraform
.terraform
terraform.tfvars
*.tfstate
*.tfstate.*
