language: generic
sudo: false

matrix:
  include:
    - env: PROJECT=apps/ethvm
    - env: PROJECT=apps/server

script: if .travis/build-condition.sh $TRAVIS_COMMIT_RANGE $PROJECT; then echo "$PROJECT is being built"; else echo "$PROJECT is NOT being built"; fi
