version: '3.7'

networks:

  web:
    external: true

  back:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/24

volumes:

  timescale-volume:

  kafka-volume-1:

  zookeeper-volume:

  control-center-volume:
  control-center-config-volume:

  parity-volume:
    # Note:
    # If you're on Linux, use local-persist instead of a regular docker volume
    # This allows to persist downloaded blockchain data.
    # More info: https://github.com/CWSpear/local-persist
    #
    driver: local-persist
    driver_opts:
      name: "paritydb"
      mountpoint: "/var/lib/parity"

services:

  # ///////////////////////////////////////////////////////
  # Front Services
  # ///////////////////////////////////////////////////////

  traefik:
    image: ethvm/traefik:0.1.4
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - web
      - back
    ports:
      - 80:80
      - 8080:8080
    environment:
      DEBUG: 'true'
      LETS_ENCRYPT_ENABLED:
      SWARM_MODE: 'false'

  explorer:
    build:
      context: ./apps/explorer
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    volumes:
      - ./apps/explorer:/var/explorer
    networks:
      - back
    labels:
      - 'traefik.enable=true'
      - 'traefik.default.protocol=http'
      - 'traefik.frontend.rule=Host:ethvm.${DOMAIN}'
      - 'traefik.backend=explorer'
      - 'traefik.port=8080'

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - ./apps/api:/var/www/api
    depends_on:
      - timescale
    networks:
      - back
    labels:
      - 'traefik.enable=true'
      - 'traefik.default.protocol=http'
      - 'traefik.frontend.rule=Host:api.ethvm.${DOMAIN}'
      - 'traefik.frontend.headers.customResponseHeaders=Access-Control-Allow-Origin:http://ethvm.${DOMAIN}||Access-Control-Allow-Credentials:true'
      - 'traefik.frontend.passHostHeader=true'
      - 'traefik.backend=api'
      - 'traefik.port=3000'
      - 'traefik.frontend.entryPoints=http,https,ws,wss'
    environment:
      GRAPHQL_PLAYGROUND: 'true'
    command: bash -c "yarn && yarn start:dev"

  # ///////////////////////////////////////////////////////
  # Etherum Client
  # ///////////////////////////////////////////////////////

  parity:
    image: parity/parity:v2.3.3
    networks:
      - back
    volumes:
      - parity-volume:/home/parity/.local/share/io.parity.ethereum/
    ports:
      - 8545:8545
      - 8546:8546
      - 30303:30303
    command: --chain ropsten --tracing on --pruning archive --ws-interface 0.0.0.0 --ws-origins * --ws-hosts * --jsonrpc-interface 0.0.0.0 --min-peers=${PARITY_MIN_PEERS} --max-peers ${PARITY_MAX_PEERS}

  # ///////////////////////////////////////////////////////
  # Storage
  # ///////////////////////////////////////////////////////

  timescale:
    image: timescale/timescaledb:${TIMESCALE_VERSION}
    restart: unless-stopped
    volumes:
      - timescale-volume:/var/lib/postgresql/data
    networks:
      - back
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:

  # ///////////////////////////////////////////////////////
  # Processing
  # ///////////////////////////////////////////////////////

  zookeeper:
    image: confluentinc/cp-zookeeper:${CP_VERSION}
    volumes:
      - zookeeper-volume:/var/lib/zookeeper
    networks:
      back:
        ipv4_address: 172.25.0.103
    ports:
      - 2181:2181
      - 9585:9585
    environment:
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: "server.1=zookeeper:2888:3888"
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_JMX_PORT: 9585

  kafka-1:
    image: confluentinc/cp-kafka:${CP_VERSION}
    restart: unless-stopped
    depends_on:
      - zookeeper
    volumes:
      - kafka-volume-1:/var/lib/kafka
    networks:
      back:
        ipv4_address: 172.25.0.104
    ports:
      - 9091:9091
      - 9586:9586
    environment:
      KAFKA_ADVERTISED_HOST_NAME: "kafka-1"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-1:9091"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
#      KAFKA_COMPRESSION_TYPE: zstd
      CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9091
      CONFLUENT_METRICS_REPORTER_ZOOKEEPER_CONNECT: zookeeper:2181
      CONFLUENT_METRICS_REPORTER_TOPIC_REPLICAS: 1
      CONFLUENT_METRICS_ENABLE: 'true'
      CONFLUENT_SUPPORT_CUSTOMER_ID: 'anonymous'
      KAFKA_JMX_PORT: 9586

  kafka-schema-registry:
    image: confluentinc/cp-schema-registry:${CP_VERSION}
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka-1
    networks:
      back:
        ipv4_address: 172.25.0.107
    ports:
      - 8081:8081
      - 9587:9587
    labels:
      - "traefik.enable=true"
      - "traefik.default.protocol=http"
      - "traefik.frontend.rule=Host:kafka-schema-registry.ethvm.${DOMAIN}"
      - "traefik.port=8081"
      - "traefik.backend=kafka-schema-registry"
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "PLAINTEXT://kafka-1:9091"
      SCHEMA_REGISTRY_HOST_NAME: kafka-schema-registry
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
      SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL: "INFO"
      SCHEMA_REGISTRY_LOG4J_LOGGERS: "org.apache.kafka.connect.runtime.rest=WARN,org.reflections=ERROR"
      SCHEMA_REGISTRY_JMX_PORT: 9587

  kafka-connect:
    build:
      context: apps/processing/connectors
      dockerfile: ./Dockerfile.dev
    restart: unless-stopped
    depends_on:
      - zookeeper
      - kafka-1
      - kafka-schema-registry
    networks:
      - back
    ports:
      - 8083:8083
      - 9588:9588
    volumes:
      - ./out/kafka-connect/:/usr/share/ethvm
    environment:
      CONNECT_BOOTSTRAP_SERVERS: kafka-1:9091
      CONNECT_REST_ADVERTISED_HOST_NAME: "kafka-connect"
      CONNECT_REST_PORT: 8083
      CONNECT_GROUP_ID: "ethvm-kafka-connect"
      CONNECT_STATUS_STORAGE_TOPIC: "ethvm-storage-topic"
      CONNECT_CONFIG_STORAGE_TOPIC: "ethvm-storage-config"
      CONNECT_OFFSET_STORAGE_TOPIC: "ethvm-storage-offsets"
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: "1"
      CONNECT_OFFSET_COMMIT_INTERVAL_MS: 1000
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: ${KAFKA_SCHEMA_REGISTRY_URL}
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: ${KAFKA_SCHEMA_REGISTRY_URL}
      CONNECT_KEY_CONVERTER: "io.confluent.connect.avro.AvroConverter"
      CONNECT_VALUE_CONVERTER: "io.confluent.connect.avro.AvroConverter"
      CONNECT_INTERNAL_KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_INTERNAL_VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      CONNECT_LOG4J_ROOT_LOGLEVEL: "WARN"
      CONNECT_LOG4J_LOGGERS: "org.apache.kafka.connect.runtime.rest=WARN,org.reflections=ERROR,com.ethvm.kafka.connect=DEBUG,org.web3j.protocol.websocket.WebSocketService=WARN"
      CONNECT_PLUGIN_PATH: /usr/share/confluent-hub-components,/usr/share/ethvm
      KAFKA_JMX_PORT: 9588

  # ///////////////////////////////////////////////////////
  # Extra Tools (Useful for debugging and helping in dev)
  # ///////////////////////////////////////////////////////

  lenses:
    image: landoop/lenses:2.1
    networks:
      - back
    ports:
      - 9991:9991
      - 9102:9102
    environment:
      LICENSE_URL: "${LENSES_LICENSE_URL}"
      LENSES_PORT: 9991
      LENSES_KAFKA_BROKERS: "PLAINTEXT://kafka-1:9091"
      LENSES_ZOOKEEPER_HOSTS: |
        [ { url:"zookeeper:2181", jmx:"zookeeper:9585" } ]
      LENSES_SCHEMA_REGISTRY_URLS: |
        [ { url:"http://kafka-schema-registry:8081", jmx:"kafka-schema-registry:9587" } ]
      LENSES_CONNECT_CLUSTERS: |
        [
          {
            name:"ethvm",
            urls: [ {url:"http://kafka-connect:8083", jmx:"kafka-connect:9588"} ],
            statuses:"ethvm-storage-topic",
            configs:"ethvm-storage-config",
            offsets:"ethvm-storage-offsets"
          }
        ]
      LENSES_SECURITY_MODE: BASIC
      LENSES_SECURITY_GROUPS: |
        [
          { "name": "adminGroup", "roles": ["Admin"] },
          { "name": "readGroup",  "roles": ["Read"] }
        ]
      LENSES_SECURITY_USERS: |
        [
          { "username": "admin", "password": "admin", "displayname": "Lenses Admin", "groups": ["adminGroup"] },
          { "username": "read", "password": "read", "displayname": "Read Only", "groups": ["readGroup"] }
        ]
    labels:
      - "traefik.enable=true"
      - "traefik.default.protocol=http"
      - "traefik.frontend.rule=Host:lenses.ethvm.${DOMAIN}"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.backend=lenses"
      - "traefik.port=9991"

  pgweb:
    image: sosedoff/pgweb:0.11.2
    restart: unless-stopped
    depends_on:
      - timescale
    networks:
      - back
    ports:
      - 8082:8082
    command: "/usr/bin/pgweb --bind=0.0.0.0 --listen=8082 --url postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@timescale:5432/${POSTGRES_DB}?sslmode=disable"
