// src/sass/variables.scss
@use './settings' as settings;

@use 'vuetify/styles' as vuetify with (
  $font-size-root: 14px,
  $typography: settings.$typography,
  $shadow-key-umbra-opacity: settings.$shadow-key-umbra-opacity,
  $shadow-key-penumbra-opacity: settings.$shadow-key-umbra-opacity,
  $shadow-key-ambient: settings.$shadow-key-ambient,
  $shadow-key-umbra: settings.$shadow-key-umbra,
  $grid-breakpoints: settings.$grid-breakpoints,
  $container-max-widths: settings.$container-max-widths
);


