

.menus-top{

    .top-block{
        height: 50px;
        padding: 0px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
        display: flex;
        background-color: #62c5f7;
        color: white;

        .logo-block{
            padding: 10px;
            margin-right: auto;
            img{
                height: 40px;
            }
            
        }

        .search-container{
            display: flex;
            padding: 12px 10px 0px 0px;
            .input-group{
                input{
                    
                    border-radius: 5px 0px 0px 5px;
                    border: none;
                    width: 300px;
                }
                .input-group-append{
                    display: table-cell;
                    vertical-align: top;
                    button{
                        border-radius: 0px 5px 5px 0px;
                        background-color: #e4e4e4;
                        color: #7b7b7b;
                        border-left: 1px solid #dadada;
                    }
                }
            }
            
        }


        .menu-icon-container{
            display: none;

            .show-icon-block{

                margin: 15px 15px 0 0;
                svg{
                    height: 30px;
                    width: 30px;

                }
            }

            .hide-icon-block{

                margin: 15px 15px 0 0;
                svg{
                    height: 30px;
                    width: 30px;

                }
            }

         
        }
    }

   .menu-side{
        color: white;
        display: block;
        margin: 0;
        padding: 0;
        background-color: #62c5f7;

        .mobile-search-container{
            display: none;
        }
    }

}





@media screen and (max-width: 1199px){

    .menus-top{
        .top-block{
            .menu-icon-container{
                display: flex;
            }
            .search-container{
                display: none;
            }
        }



       .menu-side{
            padding: 20px;
            text-align: center;
            .mobile-search-container{
                
                display: inline-block;
                

                .input-group{
                    input{
                        
                        border-radius: 5px 0px 0px 5px;
                        border: none;
                        width: 100%;
                        padding: 20px;
                        font-size: 18px;
                    }
                    .input-group-append{
                        display: table-cell;
                        vertical-align: top;
                        button{
                            border-radius: 0px 5px 5px 0px;
                            background-color: #e4e4e4;
                            color: #7b7b7b;
                            border-left: 1px solid #dadada;
                            padding: 7px;
                            font-size: 17px;

                        }
                    }
                }
            }
        }
        
    }

}


