

.menus-side{

    width: 200px;
    padding: 40px;

    ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px; 

        li{
            margin: 0px;
            padding: 0px 0px 20px 0px;
            font-weight: 600;
        }
    }

}




