@import (css) url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import (css) url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import '~bootstrap/less/bootstrap';
@import '~lessPath/NewHome/globalVars';


.form-control{
    box-shadow: none;
}

body{
    background-color: @body-background-color;
    font-family: @body-font;
    font-size: @body-font-size;
    font-weight: @body-font-weight;
    color: @body-font-color;
}


