// Fonts:
@body-font: 'Roboto', sans-serif;
@body-font-size: 15px;
@body-font-weight: 400;
@body-font-color: grey;
@condensed-font: 'Roboto Condensed', sans-serif;

// Colors:
@body-background-color: #F4F4F4;
@main-block-background-color: white;

@light-background-color: #f3f3f3;
@button-background-color: #10ADE4;
@dark-blue-color: #3b5c88;
@light-blue-color: #27dce1;

// Texts Sizes:
@text-size-1: 17px;
@text-size-2: 20px;
@text-size-3: 14px;
@text-size-4: 13px;
@text-size-5: 12px;

// Margins:
@margin-1: 40px;

// Text Transforms:
@text-transform-1: uppercase;


// Used by ShortData blocks
@shortdata-margin-1: 0px 0px 5px 0px;
@shortdata-icon-margin-top-1: 5px;


// Table



