//@import (css) url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

@import '~bootstrap/less/bootstrap';
@import '~lessPath/NewHome/globalVars';


.form-control{
    box-shadow: none;
}

body{
    font-family: @body-font;
    font-size: @body-font-size;
    font-weight: @body-font-weight;
    color: @body-font-color;
}


p{
    margin: 0px;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9f9f9f;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e5e5e5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #4f4f4f;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}




.block-title{
  font-size: 13px !important;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 15px !important;
}