@table-row-background: #f3f3f3;

@data-block-title-color: rgba(0,0,0,.54);
@data-block-data-color: rgb(183, 183, 183);


.individualtransaction-container{    

    margin-bottom: 40px;

    .table-fields{

        font-family: 'Roboto', sans-serif;

        .title{
            padding: 10px;
            margin: 0;

            font-size: 18px;
            font-weight: 500;
            color: #27dce1;
            text-align: left;
            text-transform: uppercase;
            background-color: #3b5c88;

            svg{
                margin-top: 2px;
                margin-right: 10px;
                vertical-align: top;
            }
        }


        div.data-block{
            position: relative;
            width: 100%;
            padding: 5px 0;
            border-bottom: 1px solid #f3f3f3;


            .data-top{
                margin: 0 0 -2px 0;
                font-size: 9px;

                >div{
                    display: inline-block;
                    margin-right: 10px;
                    
                    font-weight: 700;
                    color: @data-block-title-color;
                    text-transform: uppercase;

                    span{
                       font-weight: 700;
                
                       color: @data-block-data-color;
                    }
                }
            }

            .data-mid{
                
                margin: 0 0 -5px 0;
                width: 100%;                
                
                >div{
                    
                    display: inline-block;
                    font-weight: 700;
                    width: 30%;



                    p:nth-child(1){
                        font-size: 12px;
                        text-transform: uppercase;
                        margin: 0 0 -5px 0;
                        color: @data-block-title-color;

                    }
                    
                    p:nth-child(2){

                        font-size: 15px;
                        text-transform: uppercase;
                        margin: 0;
                        color: @data-block-data-color;
                    }

                    .data-icon-container{
                        position: relative;

                        svg{
                            position: absolute;
                            top: -19px;
                            color: @data-block-title-color;
                        }
                    }

                }
            }

        }

    }
}




