
@placeholder-color: #8896a3;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: @placeholder-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: @placeholder-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: @placeholder-color;
}


.search{
  position: relative;
  display: grid;
  grid-template-columns: 400px 65px;
  
  input{
    padding: 16px 25px;
    border: none;
    transition: all 0.3s ease;
    outline: none;
  }

  input:focus{
    
  }

  button{
    background-color: #2779ff;
    border: none;
    outline: none;
    color: white;
    font-size: 25px;
  }

}



