@import '~lessPath/NewHome/globalVars';

.small-block{

    padding: 10px;

    .small-block-title{
        margin-top: 0px;
        font-size: @font-size-5;
        margin: @shortdata-margin-1;
        font-weight: 10;
    }

    .small-bottom-block{
        display: flex;
        .small-block-icon{
            display: flex;
            margin-right: auto;
            color: #00fbff;
            text-shadow: 1px 1px 2px black;
            margin-top: @shortdata-icon-margin-top-1;
        }

        .small-block-value{
            display: inline-block;
            display: flex;
            font-weight: 350;
            font-size: @font-size-6;
            text-align: right;
        }
    }
    
}


