
noscript {
  align-items: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}

noscript > .text-container {
  display: flex;
  flex-direction: column;
}

noscript > .img-container > img {
  height: 260px;
}

noscript > .text-public {
  margin: 5px 10px;
}

