@import '~lessPath/sunil/global';

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.last-transactions {
  .block-body {
    .block:last-child {
      margin-bottom: 0px;
    }
    .block {
      background-color: white;
      margin-bottom: 5px;
      display: grid;
      grid-template-columns: 1fr 100px 100px 100px 50px;
      grid-column-gap: 0px;
      position: relative;
      border: 2px;
      border-radius: @main-radius;
      .vertical-middle > div {
        display: inline-block;
        vertical-align: top;
      }
      .vertical-middle .tooltip-container {
        position: absolute;
      }
      /* li: */
      li {
        padding: 15px 15px;
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .hash-block,
        .width-limit {
          display: grid;
          grid-template-columns: 1fr;
          .hash {
            margin-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        .fromto {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-right: 10px;
          display: grid;
          grid-template-columns: repeat(2, 50px auto);
          .title {
            font-weight: @main-fw-bold;
            color: black;
          }
          p {
            display: inline-block;
          }
        }
        .failed {
          color: @color-orange;
        }
        .success {
          color: @color-green;
        }
      } /* End li */
    }
  }
}

/* Small to edium Screen Queries: */
@media all and (max-width: @bp-medium) {
  .last-transactions .block-body .block li .hash {
    margin-bottom: 0px;
  }
  .block-body {
    .fromto {
      grid-template-columns: 50px auto !important;
    }
    .hash {
      margin-bottom: 0px !important;
    }
    li {
      padding: 5px !important;
      font-size: 12px;
    }
  }
  .limit,
  .gas {
    display: none !important;
  }
  .block {
    grid-template-columns: auto 60px 30px !important;
    font-size: 10px !important;
  }
}
