


.about{
  


  .row{
    margin-bottom: 30px;
  }


  .content{
    padding: 40px 70px;
    background-color: white;

    img{
      display: block;
      margin: 0 auto;
    }

    h2{
      margin-top: 20px;
      margin-bottom: 25px;
      font-size: 23px;
      color: #465a6e;
      font-weight: 600;
      text-align: center;
    }
    p{
      text-align: center;
      line-height: 1.5;
      color: #8896a3;

    }
  }

}






