@import '~lessPath/sunil/global';
a{
    color: @main-color-blue;
    text-decoration: none;
    background-color: transparent;
}


li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.last-transactions{

  .block-body{
    .block:last-child{
      margin-bottom: 0px;
    }

    .block{

      background-color: white;
      margin-bottom: 5px;

      display: grid;
      grid-template-columns: 1fr 50px 100px 100px 100px 50px;
      grid-column-gap: 0px;

      position: relative;

      .vertical-middle>div{
        display: inline-block;
        vertical-align: top;
      }

      .vertical-middle .tooltip-container{
        position: absolute;

      }
      .status{
        //text-align: center;
      }

      li{
        padding: 15px 15px;
  
        p{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .hash-block,
        .width-limit{
          display: grid;
          grid-template-columns: 1fr;
          .hash{
            margin-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

          }  
        }

        
        .fromto{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          margin-right: 10px;

          display: grid;
          grid-template-columns: repeat(2, 50px auto);


          .title{
            font-weight: @main-fw-bold;
            color: black;
          }
          p{
            display: inline-block;
          }
        }

        
        .failed{
          color: @color-orange;
          font-weight: @main-fw-bold;
        }
        .success{
          color: @color-green;
          font-weight: @main-fw-bold;
        }
      }//li
    }
  }
}

.block-header{
  font-weight: @main-fw-bold;
  color: black;
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px 100px 50px;
  grid-column-gap: 0px;
  margin-bottom: 5px;
  li{
      padding: 15px;
  }
}

@media all and (max-width: @bp-large){
  .last-transactions .block-body .block li .hash{
    margin-bottom: 0px;
  }

  .block-body{

    .fromto{
      grid-template-columns: 50px auto !important;
    }


    p{
      //line-height: 12px !important;
    }

    .hash{
      margin-bottom: 0px !important;
    }

    li{
      padding: 5px !important;
      font-size: @font-mobile;
    }

    .limit, .gas, .status{
      display: none !important;
    }

    .block{
      grid-template-columns: auto 30px 90px !important;
      font-size: 10px !important;
    }

  }
  .block-header{
     grid-template-columns: auto 30px 90px !important;

    .limit, .gas, .status{
      display: none !important;
    }
  }

}







