@import '~lessPath/sunil/global';

/* Header for to the Token Tracker*/
.tokens-header{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 1fr;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-row-gap: 12px;
    p{
        font-weight: @main-fw-bold;
        color: black;
        padding-left: 15px;
        margin-bottom: 0px;
    }

    .search-block{
        justify-self: end;
    }
}

/*Header for the token table*/
.tokens-data-header{
    font-weight: @main-fw-bold;
    color: black;
    display: grid;
    grid-template-columns: 200px 1fr 220px 250px;
    grid-column-gap: 0px;
    p{  
        padding: 15px;
        margin-bottom: 0px;
    }
  }

/*Token table data*/
.tokens-list{
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;

   .tokens-data{
        display: grid;
        background-color: white;
        grid-template-columns: 200px 1fr 220px 250px;
        grid-column-gap: 0px;
        p{
            padding: 15px;
            color: @text-color-grey;
        }
        .token-symbol{
            color: @main-color-blue;
        }
        .token-balance{
            display: grid;
            padding: 15px;
            grid-template-columns: 100px 20px;
            color: @text-color-grey;
        }
    } 
}

/* Small-Large screen Query (not displaying token name in tokens table): */
@media all and (max-width: @bp-large){

    .tokens-data-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        p{
            padding: 5px !important;
        }  
    }
    .tokens-list{
        .tokens-data{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr
        }
    }
    .token-name{
        display: none !important;
    } 
}

/* Small-Medium screen Query (not displaying token name and usd value in tokens table and reducing font size to mobile): */
@media all and (max-width: @bp-medium){
    
     .tokens-header{
       display: block;
        p{
            margin-top: 12px;
        }   
    }
    .tokens-data-header{
        grid-template-columns: 1fr 1fr; 

    }
    .tokens-list{
        .tokens-data{
            grid-template-columns: 1fr 1fr;
        }
    }
    .token-usd{
        display: none !important;
    }
    p{
        padding-left: 5px !important;
        font-size: @font-mobile;
    }

    .search-block {
        margin-top: 12px;
        font-size: @font-mobile;
    } 
}
