@import '~lessPath/NewHome/globalVars';


.main-frame{

    .section-container{
        background-color: @main-block-background-color;
        width: 100%;
        position: relative;

        .block-menu-left{
            
            
        }

        .sections{

            background-color: #efefef;
            .section-padding{
                padding-bottom: 10px;
                padding-right: 10px;
            }
        }
    }

}




@media screen and (max-width: 1199px){

    .block-menu-left{

        display: none;
        
    }

}



