@import '~lessPath/NewHome/globalVars';


.main-frame{

    .section-container{
        background-color: @main-block-background-color;
        width: 100%;

        .block-menu-left{
            
            
        }

        .sections{

            background-color: #efefef;
        }
    }

}