@import '~lessPath/NewHome/globalVars';


.top-10-senders{


    padding: 10px; 

    .people-list-table{
        table{
            tbody{
                tr{

                    td{
                        padding: 5px;
                        font-size: 20px;
                        font-weight: 700;
                    }

                    td:nth-child(1){
                        text-align: center;
                        vertical-align: top;

                    }

                    td:nth-child(2){
                         p{
                            width: 250px;
                            white-space: nowrap; 
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                            margin: 0;
                         }

                         h5{
                            margin: 0;
                         }
                    }
                }
            }
        }
    }

}

