@import '~lessPath/NewHome/globalVars';

.last-transactions{

    padding: 10px;

    .block-title{
        margin: 0px;
        font-size: @font-size-3;
        text-transform: @text-transform-1;
        margin: @shortdata-margin-1;
    }

        

}

