group:
  {{ zookeeper_group }}:
    exists: true

user:
  {{ zookeeper_user }}:
    exists: true
    groups:
      - {{ zookeeper_group }}

service:
  zookeeper:
    enabled: true
    running: true

command:
  bash /opt/zookeeper/bin/zkServer.sh status:
    # required attributes
    exit-status: 0
    timeout: 10000
    stdout:
    - "/Mode: (follower|leader)/"

#port:
#  tcp:{{ zookeeper_client_port }}:
#    listening: true
#  tcp:{{ zookeeper_jmx_port }}:
#    listening: true