@import '~lessPath/globalVars';


@media (min-width: 992px){
	.height-100-per {
		height: 100%
	}
 	.height-400-px {
 		height: 400px
 	}
}
@media (min-width: 992px){

    .full-width-row{
         margin: 0;
         margin-bottom: 40px;

        .top-data-block{
            padding: 0 1px;
        }

    }

}

 .table.vertical-middle-alignment > tbody > tr > td > {
    vertical-align: middle;
}

.frontpage{
    font-family: @main-font;
    font-weight: 300;
}
