@import (css) url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import (css) url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import '~bootstrap/less/bootstrap';
@import '~lessPath/globalVars';


.paginate-container{

    ul li{
        display: inline-block !important;
    }

    ul{
        list-style: none;
        
        li{
            cursor: pointer;
            font-weight: 900;
            font-size: 13px;
            display: inline-block !important;
            padding: 5px;
            color: white;
            background-color: #3b5c88;
            margin-right: 10px;
            border-radius: 20px;
            a{
                color: white;
            }
        }

    }


}/* .paginate-container */




body{
    background-color: #F4F4F4;
}



.block-title-link{

        font-size: @text-size-1;
        font-weight: 500; 
        color: @light-blue-color;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 1px;
        background-color: @dark-blue-color
    }

.hidden{
    display: none;
}



.divider{
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}

.nav-bar{
    
    margin-bottom: @margin-1;
    background-color: @dark-blue-color;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;


    .search-button{

        display: none;

    }

    .container{
        position: relative;
    }

    .site-brand{
        font-weight: 900;
        display: inline-block;
        vertical-align: middle;
        font-size: 35px;
        margin-right: 30px;
        color: #ff9d00;

        .top-logo{

            height: 50px;

        }
    }

    .nav-bar-search{
        display: inline-block;
        width: 400px;
        
        margin-top: 0;
        right: 17px;
        top: 8px;
        position: absolute;

        input{
            transition: all 0.1s ease;
        }

        input::-webkit-input-placeholder {
            color: white !important;
        }
         
        input:-moz-placeholder { /* Firefox 18- */
            color: white !important;  
        }
         
        input::-moz-placeholder {  /* Firefox 19+ */
            color: white !important;  
        }
         
        input:-ms-input-placeholder {  
            color: white !important;  
        }
        
        input.form-control{
            border-radius: 5px;
            background-color: #3b5c88;
            color: white;
            border: 1px solid white;
        }


        input:focus{
            background-color: white;
            color: black;
            
        }

    }


}


.section{
    margin-bottom: @margin-1;
}

.block-title{

    background-color: @dark-blue-color;
    display: inline-flex;
    width: 100%;
    padding-top: 5px;
    font-size: @text-size-2;
    font-weight: 400; 
    color: white;
    

    .icon{
        
        padding-right: 20px;
        padding-left: 16px;
        height: 25px;
    }

    .fa-icon {
        padding-left:16px;
        padding-right:20px;
        padding-top: 5px;

    }

    span{
        margin-left: 10px;
    }
}



.block-container{
    margin-bottom: @margin-1;

    .single-block{
        .block-section{
            background-color: white;
            padding: 30px;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);

        }
    }


    .chart-container{
        margin-bottom: @margin-1;

        img{
            width: 100%;
        }
    }
}


@media screen and (max-width: 599px){
    .block-container{
        .single-block{
            .block-section{
                padding: 0px;
                padding-top: 10px;

            }
        }
    }
}



.three-block{
    //.dark-block
   

}



.dark-block{
    
    font-family: @main-font;
    background-color: @dark-blue-color;
    padding-top: 8px;
    padding-bottom: 8px;

    
    
    .dark-block-data{
        
        font-size: @text-size-2;
        font-weight: 400;
        color: white;
        text-align:center;

    }

}


.user-note-block{
    padding-top: 20px;
    padding-bottom: 20px;
}


.search-block{
    background-color: @light-background-color;
    padding-top: 20px;
    padding-bottom: 20px;


    .search-text{
        font-size: 12px;
    }


    input.form-control{
        border-radius: 0;
        padding: 20px;
        display: inline-block;
        width: 60%;
        vertical-align: top;
    }

    button{
        display: inline-block;
        border-radius: 0;
        padding: 11px;
        vertical-align: top;
        background-color: @button-background-color;
        width: 20%;
        border: 0;
    }
}

@media screen and (max-width: 991px){

    .nav-bar{
        
        margin-bottom: @margin-1;
        background-color: #3b5c88;
        color: white;
        padding-top: 20px;
        padding-bottom: 20px;

        .search-button{

            display: block;
            position: absolute;
            right: 77px;
            top: 10px;
        
        }

        .site-brand{
            font-weight: 900;
            display: inline-block;
            vertical-align: middle;
            font-size: 35px;
            margin-right: 30px;
            color: #ff9d00;

            .top-logo{

                height: 40px;

            }
        }

        .nav-bar-search{
            opacity: 0;
            top: initial;
            right: initial;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 0px;
            position: relative;
            transition: all 0.2s ease;

            .mobile-search-click-button{
                position: absolute;
                z-index: 999;
                left: 13px;
                top: 11px;
                color: #9baabf;
            }

            input.form-control{
                border-radius: 40px;
                width: 100%;
                position: relative;
                
                padding: 20px 20px 20px 40px;
            }
        }
        
        .nav-bar-search-show{
            opacity: 1;
            margin-top: 20px;
            height: 45px;

        }


    }

}
