/*
=====================================================================================
  custom scroll bar
=====================================================================================
*/
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
=====================================================================================
  other styles
=====================================================================================
*/
a {
  margin: 0;
  padding: 0;
  line-height: initial;
}

.flax-row {
  display: flex;
  align-items: center;
}

.table-body {
  max-height: 500px;
  overflow-y: auto;
}

.mobile-content {
  display: none;
}

@media only screen and (max-width: 599px) {
  .desktop-content {
    display: none;
  }

  .mobile-content {
    display: block;
  }
}

/*
=====================================================================================
  desktop content
=====================================================================================
*/
.desktop-content {
  .grid-table-container {
    .grid-block {
      display: grid;
      align-items: center;
      grid-template-columns: 90px calc(100% - 260px) 80px 90px;
      border-bottom: 1px solid rgba(152, 152, 152, 0.2);

      >div {
        padding: 10px;
      }
    }
  }

  .table-header {
    padding-right: 3px;
    background-color: #8391a8;
    color: white;
    font-weight: 600;
  }

  .hash {
    margin-bottom: 5px;
  }

  .uncle-block {
    width: 100%;
  }

  .transactions {
    p {
      line-height: 17px;
    }

    .tx-failed {
      font-size: 10px;
      font-weight: 400;
      border: 1px solid black;
      display: inline-block;
      padding: 0px 3px;
      line-height: 15px;
    }
  }

  .uncle-block {
    margin-top: 10px;
    position: relative;
    border: 1px solid #8391a8;
    padding: 5px 10px;

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: -69px;
      height: 17px;
      width: 69px;
      border-bottom: 1px solid #8391a8;
      border-left: 1px solid #8391a8;
      border-radius: 0 0 0 2px;
    }
  }

  .value-name {
    color: #8391a8;
    min-width: 45px;
  }
}

/*
=====================================================================================
  mobile content
=====================================================================================
*/
.mobile-content {
  .table-item {
    border: 1px solid rgba(152, 152, 152, 0.5);
    padding: 10px 15px;
    margin: 0px 0px 10px 0;

    &:last-child {
      margin: 0;
    }

    >div {
      margin: 5px 0;
    }
  }

  .transactions {
    p {
      line-height: 17px;
    }

    .tx-failed {
      font-size: 10px;
      font-weight: 400;
      border: 1px solid black;
      display: inline-block;
      padding: 0px 3px;
      line-height: 15px;
    }
  }

  .block-tx {
    display: flex;
    align-items: center;

    .transactions {
      margin-left: auto;
      display: flex;
      align-items: center;

      .tx-failed {
        margin-right: 10px;
      }
    }
  }

  .value-name {
    color: #8391a8;
    min-width: 65px;
  }
}
